@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/* index.css */
@keyframes glowing {
  0%, 100% {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.8);
  }
  25% {
    box-shadow: 0 0 10px 0px rgba(255, 0, 0, 0.8), 0 0 10px 0px rgba(0, 255, 0, 0.8), 0 0 10px 0px rgba(0, 0, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 0, 0.8), 0 0 10px 0px rgba(255, 0, 255, 0.8), 0 0 10px 0px rgba(0, 255, 255, 0.8);
  }
  75% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.8), 0 0 10px 0px rgba(255, 255, 255, 0.8), 0 0 10px 0px rgba(255, 255, 255, 0.8);
  }
}

.glowing-border {
  animation: none;
}

.glowing-border:hover {
  animation: glowing 2s infinite;
}
