:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
.Home{
    background-image: url('./Image/Background6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Background2{
    background-image: url('./Image/Background2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.background {
        background: url("https://cdn.noitatnemucod.net/thumbnail/300x400/100/debf027d032c6d40b91fab16b2ff9bd4.jpg") no-repeat center center fixed;
        -webkit-background-size: 100%;
            -moz-background-size: 100%;
                -o-background-size: 100%;
                    background-size: 100%;
                        -webkit-background-size: cover;
                            -moz-background-size: cover;
                                -o-background-size: cover;
                                    background-size: cover;
      }
.customBg{
    background-image: url("/public/luffy.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}
.blurr{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}
/* .HomeBgImage {
    transform: scaleY(0.70);
    perspective: 1400px;
    transform-style: preserve-3d;
}
.HomeBgImage img{
    transform: rotateX(-4deg) rotateY(51deg) rotateZ(-2deg);
} */
.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* padding: 0 0px; */
    perspective: 2500px;
    /* margin: 0 10px; */
  }
.cover-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrapper{
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.card:hover .wrapper{
    /* transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0); */
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow:2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.wrapper::before,
.wrapper::after{
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}
.wrapper::before{
    top: 0;
    height: 100%;
    background-image: linear-gradient(
        to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5)68%,
        rgba(12, 13, 19) 97%
    );
}
.wrapper::after{
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
        to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19)97%
    );
}
.card:hover .wrapper::before,
.wrapper::after{
    opacity: 1;
}
.card:hover .wrapper::after{
    height: 120px;
}
.title {
    width: 100%;
    transition: transform 0.5s;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }

